# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/InjectWar3/Debug
/InjectWar3/HookTxtTest/Debug
/InjectWar3/Loader/Debug
/InjectWar3/ipch/dll-f9bf7053/*.ipch
/InjectWar3/ipch/hooktxttest-c7a2a33d/*.ipch
/InjectWar3/*.suo
/InjectWar3/dll/Debug
/InjectWar3/*.opensdf
/InjectWar3/ipch/loader-ab8c0629/*.ipch
/InjectWar3/InjectThreadTest/Debug
/InjectWar3/InjectThreadTestDll/Debug
/InjectWar3/ipch/loader-4c5b5b81/*.ipch
/InjectWar3/ipch/dll-866fa3ab/*.ipch
*.ipch
/InjectWar3/InjectWar3.sdf
